@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

/*Estilo general botón header*/
.btn-header{
    @apply py-2 px-4 font-(--font-medium) text-(--sorrento-blanco) text-lg;
}
.btn-header:hover{
    @apply underline;
}

.btn-header-2{
    @apply py-2 px-4 text-lg bg-(--sorrento-blanco) text-(--sorrento-azul) rounded-full;
}
.btn-header-2:hover{
    @apply bg-(--sorrento-gris) text-(--sorrento-azul-oscuro);
}

/*Estilo general botón apartamentos*/
.btn-apartamento{
    @apply w-full bg-(--sorrento-blanco) py-4 rounded-full border-2 border-(--sorrento-azul) text-(--sorrento-azul) text-lg cursor-pointer font-(--font-medium);
}
.btn-apartamento:hover{
    @apply bg-(--sorrento-azul) text-(--sorrento-blanco)
}

.btn-active{
    @apply bg-(--sorrento-azul) text-(--sorrento-blanco) cursor-default w-[300px] rounded-r-none;
}

/*estilos boton formulario*/
.btn-form{
    @apply py-2 px-4 text-sm text-(--sorrento-azul) cursor-pointer font-(--font-medium);
}

.btn-form:hover{
    @apply text-(--sorrento-blanco) bg-(--sorrento-azul) rounded-full;
}

.active-form{
    @apply text-(--sorrento-blanco) bg-(--sorrento-azul) rounded-full cursor-default ;
}

/*estilos inputs formulario*/

.form-label{
    @apply flex flex-col text-sm text-(--sorrento-azul) gap-1;
}
.form-input{
    @apply text-xs text-(--sorrento-negro) border-1 border-(--sorrento-negro) px-2 w-full py-2 rounded-lg;
}

@theme{
    /*Pesos de las fuentes*/
    --font-black: 900;
    --font-medium: 500;
    --font-bold: 750;

    /*Colores*/
    --sorrento-azul-oscuro: #21225A;
    --sorrento-azul-oscuro-2: #080919;
    --sorrento-azul:#34A6BA;
    --sorrento-naranja: #F78D00;
    --sorrento-amarillo: #FCBE09;
    --sorrento-rojo: #D03314;
    --sorrento-blanco: #F2F2F2;
    --sorrento-negro: #333333;
    --sorrento-gris: #E3E3E3;  
}

:root{
    font-family: "Poppins", Arial, Helvetica, sans-serif;
}
