---
import Layout from '../layouts/Layout.astro';
import Banner from '../components/Banner.astro';
import Form from '../components/Form.astro';
import "../styles/global.css";

---

<Layout>
	<Banner />
	<main>
		
	</main>
</Layout>
