---
import Layout from '../layouts/Layout.astro';
import Banner from '../components/Banner.astro';
import Form from '../components/Form.astro';
import Header from '../components/Header.astro';
import "../styles/global.css";

---

<Layout>
	<Banner />
	<main class="flex flex-col w-full items-center bg-(--sorrento-azul-oscuro-2)">
		<Header />
	</main>
</Layout>
