---
import Layout from '../layouts/Layout.astro';
import Banner from '../components/Banner.astro';
import Form from '../components/Form.astro';
import Header from '../components/Header.astro';
import "../styles/global.css";
import Descripcion from '../components/Descripcion.astro';
import Apartamentos from '../components/Apartamentos.astro'

---

<Layout>
	<Banner />
	<main class="flex flex-col gap-8 w-full items-center bg-(--sorrento-azul-oscuro-2)">
		<Header ref1="#description" ref2="#apt" />
		<Descripcion id="description" />
		<Apartamentos id="apt" />
	</main>
</Layout>
