---
const {ref} = Astro.props;
---
<section class="flex h-dvh relative justify-center">

  <div class="flex xl:w-full px-4 py-8 z-1 select-none">    
    <div class="flex flex-col w-1/2 h-full place-content-between">
      <div class="flex flex-col gap-4 font-(--font-black) text-shadow-lg/10">
        <h1 class="text-(--sorrento-blanco) text-9xl">Sorrento</h1> 
        <p class="text-(--sorrento-amarillo) text-6xl">Torre 4</p>
      </div>

      <a href={ref} class="a-1 flex w-fit gap-6 text-(--sorrento-blanco) text-2xl px-16 py-4 bg-(--sorrento-blanco)/30 rounded-full border-2 border-(--sorrento-blanco)">Ver proyecto <img src="/svg/down.svg" alt="" class="w-7 h-auto"></a>
      
    </div>

    <div class="flex w-1/2 justify-end items-start">
      <img src="/svg/Sorrento-blanco.svg" alt="Logo sorrento blanco" class="w-50 h-auto">
    </div>
  </div>

  <img src="/img/banner-img.webp" alt="Vista general de los apartamentos de Sorrento, torre 4" class="absolute h-full w-auto object-cover">

</section>