---
const {id,ref} = Astro.props;
---

<section id={id} class="flex w-full relative justify-center">
    <div class="flex flex-wrap w-full lg:w-7xl px-4 gap-y-8 gap-x-4 z-1">
        <h2 class="w-full text-(--sorrento-amarillo) font-(--font-black) text-xl lg:text-4xl">Descripción de apartamentos</h2>
        <div class="flex w-full lg:w-1/2 p-2 lg:p-4 bg-(--sorrento-blanco) rounded-lg">
            <img src="/img/img-aerea.webp" alt="Imagen aerea del proyecto sorrento">
        </div>
        <div class="flex flex-col w-full lg:w-xl gap-2 lg:gap-4">   
            <p class="text-(--sorrento-blanco) font-(--font-medium) text-sm lg:text-lg"><span class="text-(--sorrento-amarillo) font-(--font-bold)">Sorrento </span>es un proyecto en etapa final de ejecución.</p>

            <p class="text-(--sorrento-blanco) font-(--font-medium) text-sm lg:text-lg">El proyecto total consta de 4 torres, más un (1) sótano para parqueaderos. Además, cuenta con zonas comunes como gimnasio dotado, salón múltiple, sala de audiovisuales, coworking, salón infantil, zona biosaludable y BBQ.</p>

            <p class="text-(--sorrento-blanco) font-(--font-medium) text-sm lg:text-lg">La torre 4, en etapa constructiva, cuenta con 90 apartamentos y 11 locales comerciales. La terminación de esta torre se proyecta para el <span class="text-(--sorrento-amarillo) font-(--font-bold)">segundo semestre del año 2025</span></p>

            <p class=" flex gap-1 text-(--sorrento-blanco) font-(--font-medium) text-sm lg:text-lg"><img src="/svg/location.svg" alt="" class="flex"> <span class="text-(--sorrento-amarillo) font-(--font-bold)">Dirección: </span> Carrera 29 A No 17 – 42 Sur, barrio Fragua</p>

            <p class=" flex gap-1 text-(--sorrento-blanco) font-(--font-medium) text-sm lg:text-lg"><img src="/svg/social.svg" alt="" class="flex"> <span class="text-(--sorrento-amarillo) font-(--font-bold)">Estrato socioeconómico: </span> 3</p>
        </div>
        <div class="flex w-full justify-center">
            <!--falta incluir la acción -->
            <a href={ref} class="a-1 w-full lg:w-fit justify-center flex gap-4 bg-(--sorrento-amarillo) text-base lg:text-lg text-(--sorrento-azul-oscuro) font-(--font-bold) rounded-full py-2 lg:py-4 lg:px-16">Estoy interesado <img src="/svg/down-dark.svg" alt=""></a>
        </div>
    </div>
    <img src="/svg/sorrento-content-1.svg" alt="Contenido gráfico del logo de sorrento" class="absolute left-0 bottom-3 hidden lg:block">
    <img src="/svg/sorrento-content-2.svg" alt="Contenido gráfico del logo de sorrento" class="absolute right-0 top-0 w-1/9 hidden lg:block">
</section>