---

---

<section class="flex w-full relative justify-center">
    <div class="flex flex-wrap w-7xl px-4 gap-y-8 gap-x-4 z-1">
        <h2 class="w-full text-(--sorrento-amarillo) font-(--font-black) text-4xl">Descripción de apartamentos</h2>
        <div class="flex w-1/2 p-4 bg-(--sorrento-blanco) rounded-lg">
            <img src="/img/img-aerea.webp" alt="Imagen aerea del proyecto sorrento">
        </div>
        <div class="flex flex-col w-xl gap-4">   
            <p class="text-(--sorrento-blanco) font-(--font-medium) text-lg"><span class="text-(--sorrento-amarillo) font-(--font-bold)">Sorrento </span>es un proyecto en etapa final de ejecución.</p>
            <p class="text-(--sorrento-blanco) font-(--font-medium) text-lg">El proyecto total tiene 4 torres de once (11) pisos, más un (1) sótano para parqueaderos.</p>
            <p class="text-(--sorrento-blanco) font-(--font-medium) text-lg">La Torre 4 en etapa de construcción, contará con 90 apartamentos y 11 locales comerciales, además de algunas zonas comunales como: gimnasio, salón múltiple, sala de audiovisuales, coworking, salón infantil, zona biosaludable, BBQ.</p>
            <p class="text-(--sorrento-blanco) font-(--font-medium) text-lg">La terminación de la etapa constructiva de esta torre, se encuentra proyectada para el <span class="text-(--sorrento-amarillo) font-(--font-bold)">primer semestre del año 2025.</span></p>
            <p class=" flex gap-1 text-(--sorrento-blanco) font-(--font-medium) text-lg"><img src="/svg/location.svg" alt="" class="flex"> <span class="text-(--sorrento-amarillo) font-(--font-bold)">Dirección: </span> Carrera 29 A No 17 – 42 Sur, barrio Fragua</p>
            <p class=" flex gap-1 text-(--sorrento-blanco) font-(--font-medium) text-lg"><img src="/svg/social.svg" alt="" class="flex"> <span class="text-(--sorrento-amarillo) font-(--font-bold)">Estrato socioeconómico: </span> 3</p>
        </div>
        <div class="flex w-full justify-center">
            <!--falta incluir la acción -->
            <a href="" class="flex gap-4 bg-(--sorrento-amarillo) text-lg text-(--sorrento-azul-oscuro) font-(--font-bold) rounded-full py-4 px-16">Estoy interesado <img src="/svg/down-dark.svg" alt=""></a>
        </div>
    </div>
    <img src="/svg/sorrento-content-1.svg" alt="Contenido gráfico del logo de sorrento" class="absolute left-0 bottom-3">
    <img src="/svg/sorrento-content-2.svg" alt="Contenido gráfico del logo de sorrento" class="absolute right-0 top-0 w-1/9">
</section>