---
import Colaborador from "./forms/Colaborador.astro";
import Referido from "./forms/Referido.astro";

const {id} = Astro.props;
---
<section id={id} class="flex w-full relative justify-center bg-(--sorrento-gris) py-8">
    <div class="flex flex-col w-7xl px-4 gap-y-4 z-1">
        <h2 class="w-full text-(--sorrento-azul) font-(--font-black) text-4xl">Quiero más información</h2>
        <p class="text-sm font-(--font-medium) text-(--sorrento-negro)">Si estás pensando en construir tu hogar, invertir o conoces a alguien que esté interesado, ¡este es el momento!</p>
        <p class="text-sm font-(--font-medium) text-(--sorrento-negro)">Ingresa los datos requeridos y te mandamos toda la información sobre el proyecto de Sorrento</p>
        <div class="flex overflow-hidden rounded-lg">
            <div class="flex w-3/5 overflow-hidden relative items-end z-1">

                <img src="/img/form/img-form.webp" alt="" class="h-full w-auto object-cover absolute object-center hidden" id="img-1">
                <img src="/img/form/img-form-2.webp" alt="" class="h-full w-auto object-cover absolute object-center" id="img-2">
                <div id="beneficio" class="flex flex-col w-115 p-4 bg-(--sorrento-azul) z-1 h-fit m-6 rounded-lg gap-4">
                    <h4 class="text-xl text-(--sorrento-blanco) font-(--font-bold)">Si puedes soñarlo, puedes cumplirlo</h4>
                    <p class="text-base text-(--sorrento negro) font-(--font-medium)">Como trabajador de <span class="font-(--font-bold)">CVU</span> o <span class="font-(--font-bold)">Viajes Circular</span>, tendrás el beneficio de acceder a la línea de crédito hipotecario para hacer realidad este sueño.</p>
                    <button class="w-full py-2 bg-(--sorrento-blanco) rounded-full text-base text-(--sorrento-azul) font-(--font-medium) cursor-pointer hover:bg-(--sorrento-azul-oscuro) hover:text-(--sorrento-blanco)" onclick="window.open('https://mail.google.com/mail/?view=cm&fs=1&to=alara@cvu.com.co&su=Solicitud%20cr%C3%A9dito%20hipotecario%20-%20Sorrento&body=Buen%20d%C3%ADa%2C%20Andrea.%0A%0ADe%20acuerdo%20a%20la%20campa%C3%B1a%20actual%20del%20proyecto%20Sorrento%20en%20Bogot%C3%A1%2C%20me%20encuentro%20interesado(a)%20en%20aplicar%20al%20beneficio%20corporativo%20de%20cr%C3%A9dito%20hipotecario.%20Autorizo%20que%20se%20me%20haga%20el%20estudio%20correspondiente%2C%20teniendo%20en%20cuenta%20que%20este%20no%20es%20garant%C3%ADa%20para%20que%20el%20cr%C3%A9dito%20hipotecario%20sea%20autorizado%2C%20ya%20que%20depende%20de%20la%20capacidad%20de%20endeudamiento%20y%20otras%20condiciones%20ya%20descritas%20en%20el%20manual%20de%20cr%C3%A9ditos.%0A%0AAgradezco%20por%20favor%20ponerse%20en%20contacto%20conmigo.', '_blank')">Conoce más aquí</button>
                </div>

            </div>
            <div class="flex flex-col w-2/5 bg-(--sorrento-blanco) justify-center items-center px-16 py-4 gap-4 h-150">

                <nav class="flex gap-4 p-2 bg-(--sorrento-gris) rounded-full shadow-md">

                    <button class="btn-form active-form" id="col">Soy colaborador</button>
                    <button class="btn-form" id="ref">Quiero referir</button>

                </nav>

                <Colaborador class='' id="cont-col"/>
                <Referido class="hidden" id="cont-ref"/>
                
            </div>

            
        </div>
        
    </div>    
    <img src="/svg/sorrento-content-5.svg" alt="Contenido gráfico del logo de sorrento" class="absolute left-0 top-50 z-0">
    <img src="/svg/sorrento-content-6.svg" alt="Contenido gráfico del logo de sorrento" class="absolute right-8 bottom-12 z-0">

</section>
<script src="/src/scripts/form.js" />